/* * {
  margin: 0;
  padding: 0;
} */
body {
  font-family: Verdana, sans-serif;
}
#formulario-lancamento {
  padding: 10px;
  position: fixed;
  right: 20px;
  width: 200px;
  border: 1px solid black;
}
input {
  width: 100%;
  height: 30px;
  padding: 3px;
  margin-bottom: 5px;
  font-size: 15px;
  border: solid 1px #ccc;
  border-radius: 3px;
  text-indent: 5px;
}
select {
  width: 100%;
  height: 30px;
  margin-bottom: 5px;
  font-size: 15px;
  border: solid 1px #ccc;
  border-radius: 3px;
}
button {
  margin-top: 5px;
  width: 100%;
  height: 35px;
  color: #ffffff;
  background-color: #000;
  border: none;
  border-radius: 3px;
}
.tabela-lancamentos {
  text-indent: 10px;
  width: 500px;
  background-color: #eee;
  border-collapse: collapse;
}
.tabela-lancamentos td,
.tabela-lancamentos th {
  padding: 8px;
}
.tabela-lancamentos tr:nth-child(even) {
  background-color: #fff;
}
.tabela-lancamentos th {
  text-align: left;
  background-color: #ccc;
  width: 50%;
}
.grafico {
  width: 500px;
  height: 200px;
  border: solid #000 1px;
}
